<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{request.static_url('pyramid_stocks:static/theme.css')}}">
</head>

<body>
    <nav>
        <a href="{{request.route_url('home')}}">Home</a>
        {% if request.authenticated_userid %} <!--Finish code to only show full nav to authenticated user-->
        <a href="{{request.route_url('auth')}}">Login</a>
        <a href="{{request.route_url('portfolio')}}">Portfolio</a>
        <a href="{{request.route_url('add')}}">Add Stock</a>
    </nav>

    <h1>Stock Portfolio</h1>

    {% block content %} 
    <p>Welcome to your stock portfolio. Please make an account and login to view your portfolio</p>
    {% endblock content %}
    
    <footer>
        <p>&copy; bholderman 2018</p>
    </footer>
</body>

</html>