{% extends "base.jinja2" %} 

{% block content %} 
<table id="detail-table">
    <h3>AAPL</h3>
    <tr>
        <th>Price</th>
        <td>168.39</td>
    </tr>
    <tr>
        <th>Change</td>
            <td>+1.71</td>
        </tr>
        <tr>
            <th>Opening Price</th>
            <td>167.64</td>
        </tr>
        <tr>
            <th>Closing Price</th>
            <td>168.39</td>
        </tr>
        <tr>
            <th>Volume</th>
            <td>37.1M</td>
        </tr>
    </table>

    <h3>{{data.companyName}}</h3>
    <p>({{data.website}})</p>
    <p>{{data.industry}}</p> 
    <p>{{data.exchange}}</p> 
    <p>{{data.ceo}}</p> 
    <p>{{data.issueType}}</p>
    <p>{{data.sector}}</p>
    <p>{{data.decsription}}</p>
{% endblock content %}