{% extends "base.jinja2" %} 

{% block content %}

    <p>A list of your current stocks</p>
    
    <!--<table id="portfolio-table">
        <tr>
            <th>Stock Ticker Symbol</td>
                <th>Price Per Share</td>
        </tr>
        <tr>
            <td>AAPL</td>
            <td>168.39</td>
            <td>AAPL</td>
            <td>168.39</td>
        </tr>

    </table>-->
        <ul>
            {% for item in data %}
                <li>
                    <h3>{{item.companyName}}</h3>
                    <h3>{{item.exchange}}</h3>
                    <h3>{{item.description}}</h3>
                    <p>
                        <a href="{{request.route_url('detail', symbol=item.symbol)}}">view more</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    
{% endblock content %}