<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
</head>
<body>
    <nav>
        <a href="index.jinja2">Home</a>
        <a href="auth.jinja2">Login</a>
        <a href="portfolio.jinja2">Portfolio</a>
        <a href="stock-add.jinja2">Add Stock</a>
        <a href="stock-detail.jinja2">Detail</a>
    </nav>
    
    <h1>Stock Portfolio</h1>
    <p>A list of your current stocks</p>
    
    <table id="portfolio-table">
        <tr>
            <th>Stock Ticker Symbol</td>
                <th>Price Per Share</td>
        </tr>
        <tr>
            <td>APPL</td>
            <td>168.39</td>
            <td>APPL</td>
            <td>168.39</td>
        </tr>
    
    </table>
</body>
</html>