<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/style.css" />
</head>
<body>
    <nav>
        <a href="index.jinja2">Home</a>
        <a href="auth.jinja2">Login</a>
        <a href="portfolio.jinja2">Portfolio</a>
        <a href="stock-add.jinja2">Add Stock</a>
        <a href="stock-detail.jinja2">Detail</a>
    </nav>
    
    <table id="detail-table">
        <h3>AAPL</h3>
        <tr>
            <th>Price</th>
            <td>168.39</td>
        </tr>
        <tr>
            <th>Change</td>
            <td>+1.71</td>
        </tr>
        <tr>
            <th>Opening Price</th>
            <td>167.64</td>
        </tr>
        <tr>
            <th>Closing Price</th>
            <td>168.39</td>
        </tr>
        <tr>
            <th>Volume</th>
            <td>37.1M</td>
        </tr>
    </table>

</body>
</html>